/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

:root {
  --basic-white: white;
  --basic-black: black;
  --basic-red: #fb565a;
  --basic-green: #00ca74;
  --green-hover: #00bc6c;
  --green-active: #00aa62;
  --green-bar: #00ca74;
  --basic-yellow: #efc849;
  --yellow-hover: #eab534;
  --yellow-active: #e5a722;
  --red-hover: #e74246;
  --red-active: #d7373b;
  --white2: #e1e1e1;
  --basic-grey: #eee;
  --grey-hover: #dfdfdf;
  --grey-active: #d5d5d5;
  --grey-input-normal: #d7dcde;
  --grey-input-hover: #b4b9bb;
  --grey-slider-button_active: #c1c1c1;
  --grey-border: #dbdbdb;
  --grey-range: #f1f1f1;
  --grey-dark: #d7dcde;
  --toggle-color: #ababab;
  --shadow-color: #cfcfcf;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1160px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  height: auto;
}

a {
  text-decoration: none;
  color: var(--basic-black);
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1200px;
}

.page {
  height: 100%;
}

.main-header nav {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  display: flex;
}

.navigation-links,
.main-slider ul,
.lets-be-friends-block ul,
.form-filter ul,
.sort-section ul,
.our-clients-section ul,
.product-options ul,
.about-us-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.product-list li {
  position: relative;
  padding-left: 35px;
  padding-bottom: 24px;
}

.product-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  left: 0;
  top: 11px;
}

.product-list li:last-child {
  padding-bottom: 0;
}

.navigation-links a {
  display: block;
  padding: 9px 23px;
}

.cart-link {
  padding: 9px 0 9px 52px;
  position: relative;
  margin-top: 17px;
  margin-left: auto;
  width: 126px;
}

.cart-link::before {
  position: absolute;
  content: "";
  background-image: url("../img/cart-icon.svg");
  width: 15px;
  height: 15px;
  top: 17px;
  left: 12px;
}

.lets-be-friends-block ul {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  justify-content: space-between;
  gap: 9px;
  margin-right: 140px;
}

.navigation-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 8px;
  width: 500px;
  margin-left: 180px;
}

.main-slider .container {
  position: relative;
}

.main-slider-buttons {
  display: flex;
  position: absolute;
  left: 546px;
  bottom: 10px;
}

.slider-button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  background-color: var(--basic-white);
  position: relative;
}

.slider-button_active::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid var(--grey-slider-button_active);
  left: 4px;
  top: 4px;
}

.main-slider-buttons li {
  margin-right: 17px;
}

.main-slider-buttons li:last-child {
  margin-right: 0;
}

.main-header a:hover {
  color: var(--basic-red);
}

.main-header a:active,
.logo:active {
  opacity: 0.3;
}

.navigation-links .active-link {
  border-bottom: 2px solid var(--basic-red);
  padding: 12px 0 13px;
  margin: 0 23px;
}

.main-header,
.main-slider,
.map-block {
  background-color: var(--basic-grey);
}

.map-block {
  position: relative;
  height: 416px;
}

.map-block iframe {
  width: 100%;
}

.main-header {
  padding-top: 49px;
}

.main-slider {
  padding-top: 67px;
  padding-bottom: 80px;
}

.div-for-main-title {
  background-color: var(--basic-grey);
  padding: 30px 0 71px;
  margin-bottom: 55px;
}

.main-title {
  text-align: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-left: -19px;
}

.catalog {
  display: grid;
  grid-template-columns: 260px repeat(2, 360px);
  grid-template-rows: repeat(2, auto);
  row-gap: 48px;
  margin-bottom: 60px;
}

.filter-section {
  grid-column: 1/2;
  grid-row: 1/-1;
}

.sort-section {
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
  margin-left: 140px;
}

.sort-section__div-for-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort-section ul:first-child {
  width: 272px;
}

.sort-section ul:last-child {
  width: 41px;
}

.catalog-items {
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 23px 40px;
  margin-bottom: -2px;
  margin-left: 140px;
}

.product-image {
  border-radius: 0 0 5px 5px;
}

.product-item {
  position: relative;
  padding-top: 40px;
}

.product-item::before {
  content: "";
  position: absolute;
  background-image: url("../img/product-hover.svg");
  width: 360px;
  height: 40px;
  top: 0;
  opacity: 0.12;
}

.product-hover-section {
  width: 360px;
  position: absolute;
  bottom: 6px;
  padding: 26px 65px 45px;
  background-color: var(--basic-grey);
  text-align: center;
  border-radius: 0 0 5px 5px;
  display: none;
}

.product-hover-section a {
  width: 200px;
}

.product-item:focus .product-image,
.product-item:focus-within .product-image,
.product-item_active .product-image,
.product-item:hover .product-image {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.product-item:focus-within .product-hover-section,
.product-item:hover .product-hover-section {
  display: block;
}

.product-item:hover::before {
  opacity: 1;
}

.pages-section {
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  margin-left: 140px;
}

.main-slider h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0 0 25px;
}

.main-slider p {
  margin: 0 0 40px;
}

.main-header-slide-1,
.main-header-slide-2,
.main-header-slide-3 {
  width: 510px;
  display: none;
}

.main-header-slide-1 {
  display: block;
}

.main-header-slide-2 h3,
.main-header-slide-3 h3 {
  margin-bottom: 38px;
}

.main-header-slide-2 p,
.main-header-slide-3 p {
  margin-bottom: 27px;
}

.main-slider-list {
  position: relative;
}

.main-slider-list a {
  width: 240px;
}

.main-header-slide-1::after,
.main-header-slide-2::after,
.main-header-slide-3::after {
  content: "";
  width: 760px;
  height: 431px;
  position: absolute;
  left: 397px;
  top: -78px;
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
}

.main-header-slide-2::after {
  background-image: url("../img/nerds-index-slide2.png");
  top: -78px;
}

.main-header-slide-3::after {
  background-image: url("../img/nerds-index-slide3.png");
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  padding: 16px 44px;
}

.button:hover {
  background-color: var(--red-hover);
}

.button:active {
  background-color: var(--red-active);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-submit {
  width: 260px;
}

.button-close {
  width: 21px;
  height: 21px;
  background-color: transparent;
  opacity: 0.4;
  padding: 0;
  position: absolute;
  top: 78px;
  right: 90px;
  border: none;
  z-index: 3;
  background-image: url("../img/button-close.svg");
}

.button-close:hover {
  opacity: 1;
  background-color: transparent;
}

.button-close:active {
  opacity: 0.2;
  background-color: transparent;
}

.button-write-to-us {
  padding: 17px 44px 15px;
  width: 220px;
  margin-top: 19px;
}

.button-app-order {
  background-color: var(--basic-green);
}

.button-app-order:hover {
  background-color: var(--green-hover);
}

.button-app-order:active {
  background-color: var(--green-active);
}

.button-presentation-order {
  background-color: var(--basic-yellow);
}

.button-presentation-order:hover {
  background-color: var(--yellow-hover);
}

.button-presentation-order:active {
  background-color: var(--yellow-active);
}

.social-button {
  background-color: var(--white2);
  width: 78px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
}

.social-button:active img {
  opacity: 0.3;
}

.button-filter {
  width: 100%;
  margin-top: 50px;
}

.button-filter,
.page-button {
  background-color: var(--basic-grey);
  color: var(--basic-black);
}

.page-button {
  margin-right: 12px;
  padding: 16px 17px 12px;
  min-width: 50px;
  min-height: 50px;
}

.page-button-next {
  width: 260px;
  padding: 17px 77px 15px 71px;
}

.page-button:last-child {
  margin-right: 0;
}

.button-filter:hover,
.page-button:hover {
  background-color: var(--grey-hover);
}

.button-filter:active,
.page-button:active {
  background-color: var(--grey-active);
}

.page-button-active {
  background-color: var(--basic-white);
  border: 3px solid var(--grey-border);
}

.product-options,
.about-us-block,
.our-clients-section {
  border-bottom: 2px solid var(--basic-grey);
}

.product-options {
  padding: 80px 0;
}

.product-options article {
  position: relative;
  padding-top: 171px;
}

.product-options__web::before,
.product-options__app::before,
.product-options__doc::before {
  position: absolute;
  content: "";
  background-image: url("../img/illustration-1.png");
  width: 300px;
  height: 146px;
  top: 0;
}

.product-options__app::before {
  background-image: url("../img/illustration-2.png");
}

.product-options__doc::before {
  background-image: url("../img/illustration-3.png");
}

.product-options h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 16px;
  text-transform: uppercase;
}

.product-options p {
  margin: 0 0 32px;
}

.product-options ul {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 100px;
}

.context-block {
  padding-right: 40px;
}

.product-options a {
  width: 160px;
  padding: 17px 40px 15px 39px;
}

.about-us-block {
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 73px;
}

.about-us-block div:first-child {
  width: 660px;
}

.about-us-block div:last-child {
  width: 362px;
}

.logo-big {
  margin-bottom: 33px;
  margin-left: 3px;
}

.about-us-block h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 34px 0;
}

.about-us-block p {
  margin: 0 0 44px;
}

.about-us-block h3,
.write-to-us-popup label {
  font-weight: bold;
}

.about-us-block h3 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 25px;
}

.right-column__grid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
}

.right-column__grid p:first-child {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  position: relative;
  margin-bottom: 4px;
}

.right-column__grid p:last-child {
  text-align: left;
  vertical-align: bottom;
  padding-top: 8px;
  margin-left: 2px;
  margin-bottom: 0;
}

.right-column h3 {
  margin-bottom: 33px;
  margin-left: 19px;
}

.right-column__grid p:last-child,
.product-hover-section p {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.about-us-block sup {
  font-size: 26px;
  line-height: 40px;
  top: -16px;
}

.our-contacts-block h3,
.form-filter legend,
.header-sort,
.product-hover-section h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.product-hover-section h3,
.product-hover-section p {
  margin: 0;
}

.product-hover-section h3 {
  margin-bottom: 12px;
}

.product-hover-section p {
  margin-bottom: 32px;
}

.header-sort {
  margin: 0;
}

.our-contacts-block h3 {
  margin: 0 0 23px;
}

.our-contacts-block p {
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 18px;
}

.lets-be-friends-block {
  display: flex;
  align-items: center;
  padding: 70px 0 68px;
}

.lets-be-friends-block h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 10px;
}

.lets-be-friends-block p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.modal {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  background-color: var(--basic-white);
  transform: translate(-50%, -50%);
  display: none;
  position: fixed;
  left: 50%;
  right: 0;
  top: 50%;
  width: 960px;
  min-height: 590px;
}

@-webkit-keyframes bounce {
  0% {
    transform: translate(-50%, -250%);
  }
  70% {
    transform: translate(-50%, -40%);
  }
  90% {
    transform: translate(-50%, -52%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -250%);
  }
  70% {
    transform: translate(-50%, -40%);
  }
  90% {
    transform: translate(-50%, -52%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes shake {
  10%, 90% {
    transform: translate(-48%, -50%);
  }

  20%, 80% {
    transform: translate(-52%, -50%);
  }

  30%, 50%, 70% {
    transform: translate(-49%, -50%);
  }

  40%, 60% {
    transform: translate(-51%, -50%);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate(-48%, -50%);
  }

  20%, 80% {
    transform: translate(-52%, -50%);
  }

  30%, 50%, 70% {
    transform: translate(-49%, -50%);
  }

  40%, 60% {
    transform: translate(-51%, -50%);
  }
}

.modal-show {
  display: block;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.modal-error {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.write-to-us-popup {
  padding: 63px 100px 84px;
}

.write-to-us-popup form {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  -moz-column-gap: 40px;
  column-gap: 40px;
}

.write-to-us-popup h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  margin: 0 0 3px;
}

.write-to-us-popup label {
  margin: 34px 0 8px;
}

.write-to-us-popup textarea {
  margin-bottom: 49px;
  min-height: 118px;
  resize: none;
}

.label-for-text-area,
.write-to-us-popup textarea {
  grid-column: -1/1;
}

.write-to-us-popup label,
.write-to-us-popup input,
.write-to-us-popup textarea {
  font-size: 16px;
  line-height: 18px;
}

.write-to-us-popup input,
.write-to-us-popup textarea {
  border: 2px solid var(--grey-input-normal);
  padding: 14px;
}

.write-to-us-popup input:hover,
.write-to-us-popup textarea:hover {
  border: 2px solid var(--grey-input-hover);
}

.link-sort,
.link-sort-img svg {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.link-sort:hover,
.link-sort-img:hover svg {
  opacity: 0.6;
}

.link-sort:active,
.link-sort_active,
.link-sort-img_active svg,
.link-sort-img:active svg {
  opacity: 1;
}

.fieldset-price {
  margin-bottom: 54px;
}

.form-filter .fieldset-grid {
  margin-top: 51px;
  margin-bottom: 45px;
}

.fieldset-features {
  margin-bottom: 50px;
}

.fieldset-price legend {
  margin-bottom: 48px;
}

.fieldset-price label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.fieldset-price input {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.fieldset-grid label,
.fieldset-features label {
  font-size: 16px;
  line-height: 22px;
}

.range-filter {
  width: 260px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--grey-range);
  padding: 39px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--grey-dark);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--green-bar);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-color);
  box-sizing: content-box;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow-color);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: var(--grey-range);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fieldset-grid li,
.fieldset-features li {
  margin-top: 15px;
}

.check {
  padding-left: 36px;
  margin-top: 0;
}

.check__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check__radio,
.check__box {
  margin-left: -36px;
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../img/custom-radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.check__box {
  background-image: url("../img/custom-checkbox-off.svg");
  width: 23px;
  height: 23px;
}

.check__input:checked + .check__radio {
  background-image: url("../img/custom-radio-on.svg");
}

.check__input:checked + .check__box {
  background-image: url("../img/custom-checkbox-on.svg");
}

.check__input:focus + .check__radio,
.check__input:hover + .check__radio,
.check__input:focus + .check__box,
.check__input:hover + .check__box {
  opacity: 1;
}

.check__input:disabled + .check__radio,
.check__input:disabled + .check__box {
  opacity: 0.1;
}

.our-clients-section {
  margin-bottom: 80px;
}

.our-clients-section ul {
  display: grid;
  grid-template-columns: 263px 322px 273px 302px;
  margin: 48px 0 42px 0;
  gap: 5px;
}

.our-clients-section li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-clients-section li::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-grey);
  right: -18px;
  top: 17px;
}

.our-clients-section li:nth-child(2):after {
  right: 10px;
}

.our-clients-section li:nth-child(3):after {
  right: -14px;
}

.our-clients-section li:last-child:after {
  display: none;
}

.our-contacts-block {
  width: 320px;
  background-color: var(--basic-white);
  position: absolute;
  left: 140px;
  top: 54px;
  padding: 49px 50px 47px;
}

.discount-div {
  width: 575px;
}

.map-marker {
  position: absolute;
  right: 387px;
  top: 86px;
}

.our-clients-section a {
  opacity: 0.2;
  line-height: 0;
}

.our-clients-section a:hover {
  opacity: 1;
}

.our-clients-section a:active {
  opacity: 0.1;
}

.product-item__link:hover {
  color: var(--basic-red);
}

.product-item__link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

*, *::before, *::after {
  box-sizing: border-box;
}
